<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeAliases>
        <typeAlias type="com.lyf.ssm.entity.Page" alias="Page"/>
        <typeAlias type="com.lyf.ssm.entity.Student" alias="Student"/>
        <typeAlias type="com.lyf.ssm.entity.StuCourse" alias="StuCourse"/>
        <typeAlias type="com.lyf.nuonuo.entity.CompanyCard" alias="CompanyCard"/>
        <typeAlias type="com.lyf.nuonuo.entity.CompanyCardAudit" alias="CompanyCardAudit"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/lyf/ssm/mapper/StudentMapper.xml"/>
        <mapper resource="com/lyf/nuonuo/mapper/CompanyCardMapper.xml"/>
        <mapper resource="com/lyf/nuonuo/mapper/CompanyCardAuditMapper.xml"/>
        <mapper resource="com/lyf/nuonuo/mapper/TaxServiceMapper.xml"/>
    </mappers>
</configuration>