<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <!--<setting name="logImpl" value="LOG4J" />-->
    </settings>
    <typeAliases>
        <typeAlias type="com.lyf.companyCard.entity.CompanyCard" alias="CompanyCard"/>
        <typeAlias type="com.lyf.companyCard.entity.CompanyCardAudit" alias="CompanyCardAudit"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/lyf/nuonuo/mapper/CompanyCardMapper.xml"/>
        <mapper resource="com/lyf/nuonuo/mapper/CompanyCardAuditMapper.xml"/>
        <mapper resource="com/lyf/nuonuo/mapper/TaxServiceMapper.xml"/>
    </mappers>
</configuration>